html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111111; */
  transition: 0.5s;
  padding-top: 60px;
  background: linear-gradient(#0099ff, lightseagreen);
}

#home{
  margin-top: -10px;
}
#logo{
  margin-top: 70px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  display: block;
  transition: 0.3s;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
  padding-left: 8px;
  background: transparent;
  border: transparent;
}

.hoverBackground:hover{
  background-color:#000000;
  max-width: 70%;
  margin:auto;
  border-radius: 12px;
  scroll-behavior: smooth;
 
}

.sidebar a:hover {
  color: lightseagreen;
  font-weight: bolder;
}


.sidebar{
  text-align: center;
}


main .sidebar{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.material-icons,
.icon-text {
  vertical-align: middle;
}

.material-icons {
  padding-bottom: 3px;
  margin-right: 30px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
  margin-left: 250px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

}
/*====================== HOME STYLE DESIGN ====================*/
.homePage{
  margin-left: 250px;
}
#homePage{
  margin-left: 250px;
}
.img-responsive{
  max-width: 100%;
}
#btn{
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;

}
#card{
  margin-bottom: 10px;
  margin-left: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#card2{
  margin-bottom: 0px;
  margin-left: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.btn{
  margin-bottom: 20px;
}


/* #map{
  margin-top: 100px;
}
/*  ======================= Footer Style Design ===============================*/
.footer{
  background-color: #000;
   color:#ffffff;
}
.social i{
  padding: 10px 5px 10px 5px;
  margin-bottom: 0px;
}
.footer-copyright {
  padding-bottom: 10px;
}
#address{
  font-size: 3mm;
  margin-left: 300px;
}